## Problem statement
You have to write a python script which can fetch all the tweets(as many as allowed by Twitter
API) done by [midas@IIITD](https://twitter.com/midasIIITD) twitter handle and dump the responses into JSONlines file.
The other part of your script should be able to parse these JSONline files to display the
following for every tweet in a tabular format.
* The text of the tweet.
* Date and time of the tweet.
* The number of favorites/likes.
* The number of retweets.
* Number of Images present in Tweet. If no image returns None.

### Imports

In [18]:
import tweepy
from tweepy import OAuthHandler
import json
import os
import pandas as pd
from datetime import datetime

In [2]:
#Path for JSON file
FILE_PATH = os.path.join(os.getcwd(), "/Users/Akshay/Desktop/tweets.json")

### Authorization

In [3]:
ACCESS_TOKEN = "#"
ACCESS_TOKEN_SECRET = "#"
CONSUMER_KEY = "#" 
CONSUMER_SECRET_KEY = "#"

In [4]:
auth = OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET_KEY)
auth.set_access_token(ACCESS_TOKEN, ACCESS_TOKEN_SECRET)
api = tweepy.API(auth)

## First Part - Fetch Tweets and Dump them into JSON Line file

In [5]:
def fetch_and_dump_tweets(screen_name):
    '''
    screen_name: Twitter handle of the user
    tweets: List (of length 200) of tweets
    all_tweets: List of all tweets
    oldest: Index of oldest fetched tweet
    '''
    
    all_tweets = []
    tweets = api.user_timeline(screen_name = screen_name,count=200)
    all_tweets.extend(tweets)
    oldest = all_tweets[-1].id - 1
    
    while len(tweets) > 0:
        tweets = api.user_timeline(screen_name = screen_name, count=200, max_id=oldest)
        all_tweets.extend(tweets)
        oldest = all_tweets[-1].id - 1

    print(f"Total number of tweets from {screen_name} are {len(all_tweets)}")
    
    all_tweets_json = []
    for tweet in all_tweets:
        all_tweets_json.append(tweet._json)
    with open(FILE_PATH, 'w', encoding='utf8') as f:
        json.dump(all_tweets_json, f, sort_keys = True,indent = 4)
    return all_tweets

In [6]:
tweets_by_MIDAS = fetch_and_dump_tweets("midasIIITD")

Total number of tweets from midasIIITD are 294

In [7]:
with open(FILE_PATH) as json_file:  
    tweets_by_MIDAS = json.load(json_file)

In [8]:
tweets_by_MIDAS[10]['entities']

{'hashtags': [],
 'symbols': [],
 'urls': [{'display_url': 'twitter.com/i/web/status/1â€¦',
   'expanded_url': 'https://twitter.com/i/web/status/1105478029147553792',
   'indices': [110, 133],
   'url': 'https://t.co/XEkcYO8KmW'}],
 'user_mentions': [{'id': 1021355762575073281,
   'id_str': '1021355762575073281',
   'indices': [23, 34],
   'name': 'MIDAS IIITD',
   'screen_name': 'midasIIITD'}]}

In [9]:
def fetch_and_dump_tweets(screen_name):
    '''
    screen_name: Twitter handle of the user
    tweets: List (of length 200) of tweets
    all_tweets: List of all tweets
    oldest: Index of oldest fetched tweet
    '''
    
    all_tweets = []
    tweets = api.user_timeline(screen_name = screen_name,count=200, tweet_mode = 'extended')
    all_tweets.extend(tweets)
    oldest = all_tweets[-1].id - 1
    
    while len(tweets) > 0:
        tweets = api.user_timeline(screen_name = screen_name, count=200, max_id=oldest, tweet_mode = 'extended')
        all_tweets.extend(tweets)
        oldest = all_tweets[-1].id - 1

    print(f"Total number of tweets from {screen_name} are {len(all_tweets)}")
    
    all_tweets_json = []
    for tweet in all_tweets:
        all_tweets_json.append(tweet._json)
    with open(FILE_PATH, 'w', encoding='utf8') as f:
        json.dump(all_tweets_json, f, sort_keys = True,indent = 4)
    return all_tweets

In [10]:
tweets_by_MIDAS = fetch_and_dump_tweets("midasIIITD")

Total number of tweets from midasIIITD are 294

In [11]:
with open(FILE_PATH) as json_file:  
    tweets_by_MIDAS = json.load(json_file)

In [12]:
tweets_by_MIDAS[10]['entities']

{'hashtags': [{'indices': [111, 116], 'text': 'team'},
  {'indices': [117, 126], 'text': 'research'},
  {'indices': [127, 130], 'text': 'AI'},
  {'indices': [131, 134], 'text': 'ML'},
  {'indices': [135, 144], 'text': 'projects'}],
 'media': [{'display_url': 'pic.twitter.com/lN7hItwPO9',
   'expanded_url': 'https://twitter.com/midasIIITD/status/1105478029147553792/photo/1',
   'id': 1105477322264772610,
   'id_str': '1105477322264772610',
   'indices': [145, 168],
   'media_url': 'http://pbs.twimg.com/media/D1dxxHzXgAIeNSE.jpg',
   'media_url_https': 'https://pbs.twimg.com/media/D1dxxHzXgAIeNSE.jpg',
   'sizes': {'large': {'h': 1338, 'resize': 'fit', 'w': 2048},
    'medium': {'h': 784, 'resize': 'fit', 'w': 1200},
    'small': {'h': 444, 'resize': 'fit', 'w': 680},
    'thumb': {'h': 150, 'resize': 'crop', 'w': 150}},
   'type': 'photo',
   'url': 'https://t.co/lN7hItwPO9'}],
 'symbols': [],
 'urls': [],
 'user_mentions': [{'id': 1021355762575073281,
   'id_str': '1021355762575073281',
   'indices': [23, 34],
   'name': 'MIDAS IIITD',
   'screen_name': 'midasIIITD'}]}

In [13]:
tweets_by_MIDAS[10]['extended_entities']

{'media': [{'display_url': 'pic.twitter.com/lN7hItwPO9',
   'expanded_url': 'https://twitter.com/midasIIITD/status/1105478029147553792/photo/1',
   'id': 1105477322264772610,
   'id_str': '1105477322264772610',
   'indices': [145, 168],
   'media_url': 'http://pbs.twimg.com/media/D1dxxHzXgAIeNSE.jpg',
   'media_url_https': 'https://pbs.twimg.com/media/D1dxxHzXgAIeNSE.jpg',
   'sizes': {'large': {'h': 1338, 'resize': 'fit', 'w': 2048},
    'medium': {'h': 784, 'resize': 'fit', 'w': 1200},
    'small': {'h': 444, 'resize': 'fit', 'w': 680},
    'thumb': {'h': 150, 'resize': 'crop', 'w': 150}},
   'type': 'photo',
   'url': 'https://t.co/lN7hItwPO9'}]}

## Second Part - Parse the Json Line file and get the required information in Tabular form

In [43]:
def parse_tweets(FILE_PATH):
    
    with open(FILE_PATH) as json_file:  
        tweets_by_MIDAS = json.load(json_file)
        
        tweet_list=[]

        for tweet in tweets_by_MIDAS:
            tweet_info=dict()

            tweet_info['Text']=tweet['full_text']
            tweet_info['Date and Time']= tweet['created_at']
            #tweet_info['id_str']=tweet['id_str']

            tweet_info['Number of Likes']=tweet['favorite_count']
            tweet_info['Number of Retweets']=tweet['retweet_count']

            if 'media' in tweet['entities']:
                image_count = 0
                tweet_media = tweet['extended_entities']['media']
                for i in range(len(tweet_media)):
                    if(tweet_media[i]['type'] == 'photo'):
                        image_count += 1
                tweet_info['Number of Images'] = image_count
            else:
                #No media in the tweet, hence None
                tweet_info['Number of Images'] = None
            tweet_list.append(tweet_info)
    return tweet_list

In [44]:
MIDAS_info = parse_tweets(FILE_PATH)

In [45]:
MIDAS_info[1]

{'Date and Time': 'Sun Mar 17 14:22:04 +0000 2019',
 'Number of Images': None,
 'Number of Likes': 14,
 'Number of Retweets': 4,
 'Text': 'Congratulations @midasIIITD team, Rohan, Pradyumn, Ramit, @debanjanbhucs, @MADAIguy and @RatnRajiv for getting their paper titled, "SNAP-BATNET: Cascading Author Profiling and Social Network Graphs for Suicide Ideation Detection on Social Media", accepted at @NAACLHLT SRW.'}

In [47]:
MIDAS_df = pd.DataFrame(MIDAS_info)

In [48]:
MIDAS_df

,Date and Time,Number of Images,Number of Likes,Number of Retweets,Text
0,Mon Mar 18 02:27:47 +0000 2019,NaN,6,3,BigMM 2019 : IEEE BigMM 2019 â€“ Call for Worksh...
1,Sun Mar 17 14:22:04 +0000 2019,NaN,14,4,"Congratulations @midasIIITD team, Rohan, Prady..."
2,Sat Mar 16 14:06:56 +0000 2019,NaN,6,0,We have emailed the task details to all shortl...
3,Sat Mar 16 09:20:29 +0000 2019,NaN,1,1,IEEE BigMM 2019 - Call for Workshop Proposals....
4,Sat Mar 16 09:14:58 +0000 2019,NaN,7,2,"Congratulations! Arijit, Ramit, @debanjanbhucs..."
5,Sat Mar 16 05:13:14 +0000 2019,NaN,7,2,We will be releasing a very interesting task t...
6,Wed Mar 13 17:09:44 +0000 2019,NaN,0,2,RT @hcdiiitd: Last day to register for #Portfo...
7,Wed Mar 13 04:11:24 +0000 2019,1.0,1,0,@ACMMM19 @sigmm @TheOfficialACM @acmmmsys @ACM...
8,Wed Mar 13 04:06:04 +0000 2019,NaN,0,13,RT @ACMMM19: The paper deadline is approaching...
9,Tue Mar 12 17:43:44 +0000 2019,NaN,0,69,RT @kaggle: Bookmark this amazing library of i...
10,Tue Mar 12 14:37:55 +0000 2019,1.0,16,4,Awesome members of our @midasIIITD team who ar...
11,Mon Mar 11 14:58:30 +0000 2019,NaN,0,0,"@saanidhi @ACMMM19 Before Friday, 15th March."
12,Mon Mar 11 12:02:42 +0000 2019,NaN,4,0,We are glad to inform that Adobe is launching ...
13,Mon Mar 11 11:54:38 +0000 2019,NaN,3,0,We will email tasks to all shortlisted candida...
14,Mon Mar 11 06:22:12 +0000 2019,NaN,1,1,@ACMMM19 @ACM_MM2018 @acmmm17 @sigmm @ACM Less...
15,Mon Mar 11 06:17:20 +0000 2019,NaN,0,63,RT @kdnuggets: Face Recognition using One-Shot...
16,Fri Mar 08 13:22:07 +0000 2019,NaN,1,0,@AvinashSwamina2 @IIITDelhi No. They will be g...
17,Fri Mar 08 13:15:34 +0000 2019,NaN,8,4,We are in the process of finalizing the shortl...
18,Wed Mar 06 13:44:11 +0000 2019,NaN,3,0,@ylecun @NilayShri @the_dhumketu @debanjanbhuc...
19,Wed Mar 06 11:12:30 +0000 2019,1.0,0,22,RT @kdnuggets: Python Data Science for Beginne...
20,Sun Mar 03 19:36:04 +0000 2019,NaN,0,35,RT @stanfordnlp: Useful feature of our Python ...
21,Sun Mar 03 17:09:48 +0000 2019,NaN,1,0,"@NilayShri @NilayShri, Certain thing! The next..."
22,Sun Mar 03 15:37:28 +0000 2019,3.0,9,1,"At @midasIIITD, we not only work hard but also..."
23,Sun Mar 03 14:55:31 +0000 2019,NaN,6,2,Considering several requests to extend the dea...
24,Sun Mar 03 14:26:40 +0000 2019,NaN,0,315,RT @jeremyphoward: 39 studies about human perc...
25,Sat Mar 02 17:43:05 +0000 2019,NaN,1,0,Correction: @midasIIITD at @IIITDelhi
26,Sat Mar 02 09:59:03 +0000 2019,NaN,7,1,Thanks much to all aspirants who have applied ...
27,Thu Feb 28 14:21:21 +0000 2019,1.0,0,4,RT @kdnuggets: Keras Hyperparameter Tuning in ...
28,Tue Feb 26 18:30:52 +0000 2019,NaN,0,1,RT @RatnRajiv: Great meeting with @midasIIITD ...
29,Tue Feb 26 03:40:22 +0000 2019,NaN,0,0,Correction: They have published the following ...
...,...,...,...,...,...
264,Thu Aug 09 05:59:57 +0000 2018,NaN,0,265,RT @TensorFlow: TensorFlow 1.10.0 has been rel...
265,Wed Aug 08 11:30:56 +0000 2018,NaN,2,1,@midasIIITD is looking for motivated IIITD MTe...
266,Wed Aug 08 05:53:48 +0000 2018,1.0,3,1,@IIITDelhi @ponguru @RatnRajiv The results of ...
267,Wed Aug 08 05:45:58 +0000 2018,NaN,0,1,RT @IIITDelhi: @midasIIITD has secured rank 1 ...
268,Tue Aug 07 07:16:33 +0000 2018,1.0,0,40,RT @kdnuggets: Comparison of Top 6 Python NLP ...
269,Tue Aug 07 02:05:12 +0000 2018,NaN,1,1,Check more details of the 20th IEEE Internatio...
270,Tue Aug 07 01:58:49 +0000 2018,NaN,1,1,MR2AMC@ISM 2018 will be organized by @RatnRaji...
271,Tue Aug 07 01:50:33 +0000 2018,NaN,1,1,"Our workshop proposal named, ""MR2AMC: Multimod..."
272,Mon Aug 06 17:48:23 +0000 2018,NaN,0,0,@NUSComputing Congratulations Abdelhak and Pro...
273,Mon Aug 06 17:46:59 +0000 2018,1.0,0,103,RT @goodfellow_ian: One of the most anticipate...
274,Mon Aug 06 06:06:47 +0000 2018,NaN,0,0,@the_dhumketu Great to have you in @midasIIITD
275,Fri Aug 03 05:56:33 +0000 2018,NaN,6,1,Congratulation @soujanyaporia for being appoin...
276,Wed Aug 01 11:47:15 +0000 2018,1.0,5,1,@IIITDelhi @the_dhumketu Thanks team @midasIII...
277,Wed Aug 01 11:20:07 +0000 2018,NaN,0,4,RT @IIITDelhi: Congratulations @midasIIITD int...
278,Wed Aug 01 05:06:47 +0000 2018,NaN,0,4,RT @learning_pt: Profile of the 5 Indian under...
279,Tue Jul 31 12:11:52 +0000 2018,NaN,1,0,Have a look at the list of accepted papers in ...
280,Tue Jul 31 02:06:26 +0000 2018,NaN,0,264,RT @goodfellow_ian: https://t.co/hYiWI7ntyk Te...
281,Mon Jul 30 07:30:51 +0000 2018,NaN,0,2,RT @IIITDelhi: Congratulations Dr. @RatnRajiv ...
282,Sat Jul 28 11:07:11 +0000 2018,NaN,0,57,"RT @ylecun: Jitendra Malik, who directs FAIR-M..."
283,Sat Jul 28 06:14:09 +0000 2018,NaN,0,105,RT @kdnuggets: .@Bloomberg launches free cours...
284,Sat Jul 28 06:13:48 +0000 2018,NaN,0,7,RT @TechAtBloomberg: Missed #PyLondinium18? Wa...
285,Sat Jul 28 04:08:21 +0000 2018,NaN,0,6,RT @IIITDelhi: We are delighted to announce th...
286,Fri Jul 27 06:46:44 +0000 2018,NaN,3,2,Get ready for the annual technical fest of @II...
287,Fri Jul 27 04:07:31 +0000 2018,NaN,8,2,Congratulations Dr. @RatnRajiv and team @midas...
288,Wed Jul 25 05:14:35 +0000 2018,NaN,5,1,Congratulations MIDAS @midasIIITD intern Prakh...
289,Tue Jul 24 10:33:23 +0000 2018,NaN,2,1,MIDAS@IIITD foundation. https://t.co/LKuzyBHzjm
290,Tue Jul 24 10:12:34 +0000 2018,NaN,2,1,It feels great to be the part of @IIITDelhi. h...
291,Tue Jul 24 09:46:26 +0000 2018,1.0,4,1,"Thank you, @toonzratn for designing the logo o..."
292,Mon Jul 23 16:25:05 +0000 2018,NaN,3,1,We are on Facebook too. Like our page to get o...
293,Mon Jul 23 12:53:15 +0000 2018,NaN,7,4,MIDAS is a group of researchers at IIIT-Delhi ...